<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">To homepage</button>
    </div>
    <div class="info">
        <strong>Author</strong>
        <small>12.09.2019</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A non reiciendis ullam dolorum labore voluptas animi id autem ab accusamus dignissimos totam mollitia magnam omnis dolor ipsum veniam eius enim, corrupti cum odit, optio, modi nemo. Magni neque deserunt voluptas. Ducimus corrupti reprehenderit blanditiis omnis consectetur aliquid adipisci rem alias?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A non reiciendis ullam dolorum labore voluptas animi id autem ab accusamus dignissimos totam mollitia magnam omnis dolor ipsum veniam eius enim, corrupti cum odit, optio, modi nemo. Magni neque deserunt voluptas. Ducimus corrupti reprehenderit blanditiis omnis consectetur aliquid adipisci rem alias?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A non reiciendis ullam dolorum labore voluptas animi id autem ab accusamus dignissimos totam mollitia magnam omnis dolor ipsum veniam eius enim, corrupti cum odit, optio, modi nemo. Magni neque deserunt voluptas. Ducimus corrupti reprehenderit blanditiis omnis consectetur aliquid adipisci rem alias?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A non reiciendis ullam dolorum labore voluptas animi id autem ab accusamus dignissimos totam mollitia magnam omnis dolor ipsum veniam eius enim, corrupti cum odit, optio, modi nemo. Magni neque deserunt voluptas. Ducimus corrupti reprehenderit blanditiis omnis consectetur aliquid adipisci rem alias?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A non reiciendis ullam dolorum labore voluptas animi id autem ab accusamus dignissimos totam mollitia magnam omnis dolor ipsum veniam eius enim, corrupti cum odit, optio, modi nemo. Magni neque deserunt voluptas. Ducimus corrupti reprehenderit blanditiis omnis consectetur aliquid adipisci rem alias?</p>
    </div>
</div>